<!DOCTYPE html>
<html>
  <head>
    <title>XTU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
    line-height: 1.428571429;
    display: block;
    background: url(/assets/1.png) left top repeat;
    }
    li a {
      text-decoration: none;
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top" >
      <div class="container-fluid " >
          <div class="navbar-header">
            <a class="navbar-brand" href="<%= index_path %>" style="text-decoration: none;">
              <img alt="XTU" src="/assets/湘潭大学校徽.png" style="width: 80px;">
            </a>
          </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li><a href="<%= login_path %>">登录</a></li>
              <li><a href="<%= new_path %>">注册</a></li>
            <% else %>
              <li><a href="<%= rpost_index_path %>">学生论坛</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎&nbsp&nbsp <%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="<%= edit_path %>">个人中心</a></li>
                  <li><a href="#">大学咨询</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="<%= logout_path %>">退出登录</a></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div style="margin-top: 50px"> </div>
    <%= yield %>
  </body>
</html>
